* 
{
    margin: 0;
    padding: 0;
}

body
{
    background-color: #fff !important;
}

#heading-text
{
    margin: 80px auto auto auto;
}

.card .img-thumbnail
{
    border: none;
    transform: scale(0.95);
}

.card:hover
{
    cursor: pointer;
}

.modal-body img.modal-img
{
    border-radius: 50%;
    width: 20%;
} 

.modal-body .modal-heading-text
{
    text-align: left;
    padding-left: 50px;
}

.modal-body .modal-heading-text h2
{
    margin-right: 10px;
    margin-bottom: 15px;
}

.modal-body .modal-heading-text p
{
    text-align: left;
}

div#chips
{
    justify-content:start;
}

.md-chip {
    display: inline-block;
    background: #000;
    color: white;
    padding: 0 16px;
    margin: 5px 4px;
    border-radius: 32px;
    font-size: 13px;
    max-width:fit-content;
    height: 32px;
    line-height: 32px;
}

.md-chip:hover {
    background: #ccc;
}

.chip-web
{
    background-color: violet;
}

.chip-cp
{
    background-color:tomato;
}

.chip-opensource
{
    background-color:chartreuse;
}

.chip-pm
{
    background-color:darkblue;
}

.chip-ml
{
    background-color: darkslateblue;
}

.modal-body .modal-company
{
    padding: 40px 100px;
}

div.modal-body div.d-lg-flex.align-items-center.justify-content-between
{
    padding: 0px 100px;
}


#pricing div.card-body img
{
    width: 50%;
}


@media screen and (max-width:992px)
{
    div.modal-body div.d-lg-flex.align-items-center.justify-content-between
    {
        padding: 0px 15px;
    }

    .modal-body img.modal-img
    {
        width: 30%;
        display: block;
        margin: auto auto 30px auto;
        text-align: center;
    } 
    
    .modal-body .modal-heading-text
    {
        padding: 0;
        text-align: center;
    }
    
    .modal-body .modal-company
    {
        text-align: center;
        padding: 40px 30px;
    }

    .modal-body .modal-company img
    {
        width: 50%;
        margin: 10px auto;
    }

    .modal-body .modal-heading-text h2
    {
        margin-right: 0px;
        margin-bottom: 8px;
    }
    
    .modal-body .modal-heading-text p
    {
        padding: 5px 30px 0px 30px;
        text-align: center;
    }
    
    div#chips
    {
        justify-content: center;
    }

    table.table.table-striped
    {
        margin: 40px 0px;
    }
}

.btn.btn-primary
{
    z-index: 10;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}
