nav.navbar{
    height: 72px;
}
.navbar-nav li.nav-item a.nav-link:hover {
    color: black;
    transform: scale(1.05);
}
.navbar-brand {
    width: 50%;
}



.navbar-brand img {
    top: 3px;
}


@media only screen and (max-width:991px)
{
    nav.navbar
    {
           height: 21px;
    }
}

.gplay-btn {
    height: 6.2rem;
    width: 16rem;
}