nav.navbar{
    height: 72px;
}
.navbar-nav li.nav-item a.nav-link:hover {
    color: black;
    transform: scale(1.05);
}
.navbar-brand {
    width: 47%;
}

.home_menu .main-menu-item {
    justify-content: flex-end !important;
    margin-right: 60px;
}

.navbar-brand img {
    top: 3px;
}

.gplay-btn {
    height: 5rem;
    width: 12rem;
}

@media only screen and (max-width:991px)
{
    nav.navbar
    {
       height: 21px;
    }

    .gplay-btn {
        height: 4.4rem;
        width: 11.1rem;
    }
}

.gplay-btn:hover {
    transform: scale(1.1);
    transition: 0.6s;
}

div#carousel-top-cont{
    display: flex;
    padding-left: 200px;
}

div.caraouselContainer{
    width: 50%;
    border: solid 0.5px #000;
    padding:2px;
}


div.text-container.container{
    margin-top: 35px;  
    width: 45%;
} 

div.text-container.container h2{
    padding-left: 15%;
    padding-right: 15%;
    text-align: left;
    font-size: 30px;
}
div.text-container.container p{
    text-align: left;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 20px;
    font-size: 24px !important;
    width: 100%;
}

@media only screen and (max-width:1450px)
{
    div#carousel-top-cont{
        flex-direction: column-reverse;
        padding-left:100px !important;
        padding-right: 100px !important;
    }

    div.caraouselContainer{
        width: 70%;
        margin: auto;
    }
    
    
    div.text-container.container{
        text-align: center;
        padding-bottom: 40px;  
        width: 100%;
    }
    div.text-container.container h2{
        text-align: center;
    }
    div.text-container.container p{
        text-align: center;
    } 


}

@media only screen and (max-width:1000px){
        div#carousel-top-cont{
            padding-left:50px !important;
            padding-right: 50px !important;
        }
}
@media only screen and (max-width:900px){
    div.caraouselContainer{
        width: 90%;
        margin: auto;
    }
}
@media only screen and (max-width:650px){
        div#carousel-top-cont{
            padding-left:0px !important;
            padding-right: 0px !important;
        }
    }
@media only screen and (max-width:500px){

    div#carousel-top-cont{
        padding-top: 30px;
    }
    div.text-container.container p{
        font-size: 15px;
    } 

}
a#ButtonCarousel:hover{
    background-color: black;
    opacity: 0.36;
}